{% if not success %}

		<form role="form" data-request="onContactSend"
		data-request-update="'{{__SELF__}}::form.htm':'#entry'" id="testimonium-form">
			<div class="form-group {{ validation.author ? 'has-error'}} ">
				<label for="author">Name</label>
				<input type="text" class="form-control" name="author" value="{{ post.author }}">
			</div>
			<div class="form-group {{ validation.mail ? 'has-error'}}">
				<label for="mail">Email</label>
				<input type="text" class="form-control" name="mail" value="{{ post.mail }}">
			</div>
			<div class="form-group {{ validation._message ? 'has-error'}}">
				<label for="_message">Message</label>
				<textarea type="text" class="form-control" name="_message" value="{{ post._message }}"></textarea>
			</div>
			<div class="row">
				<div class="form-group col-sm-4 {{ validation.arrival ? 'has-error'}}">
					<label for="departure">Arrival</label>
					<div class="input-group date">
					  	<input type="text" class="form-control" value="{{ post.departure }}" name="arrival"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					</div>
				</div>
				<div class="form-group col-sm-4 {{ validation.departure ? 'has-error'}}">
					<label for="departure">Departure</label>
					<div class="input-group date">
					  	<input type="text" class="form-control" value="{{ post.departure }}" name="departure"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					</div>
				</div>
				<div class="form-group col-sm-4 {{ validation.mark ? 'has-error'}}">
				<label for="mark">Rating</label>
				<select class="form-control" name="mark">
				  <option {% if not post.mark %}selected{%endif%} disabled>1-10</option>
				  <option value="1" {% if post.mark == 1%}selected{%endif%}>1</option>
				  <option value="2" {% if post.mark == 2%}selected{%endif%}>2</option>
				  <option value="3" {% if post.mark == 3%}selected{%endif%}>3</option>
				  <option value="4" {% if post.mark == 4%}selected{%endif%}>4</option>
				  <option value="5" {% if post.mark == 5%}selected{%endif%}>5</option>
				  <option value="6" {% if post.mark == 6%}selected{%endif%}>6</option>
				  <option value="7" {% if post.mark == 7%}selected{%endif%}>7</option>
				  <option value="8" {% if post.mark == 8%}selected{%endif%}>8</option>
				  <option value="9" {% if post.mark == 9%}selected{%endif%}>9</option>
				  <option value="10" {% if post.mark == 10%}selected{%endif%}>10</option>
				</select>
				<!-- <input type="text" class="form-control"  value="{{ post.mark }}"> -->
			</div>
			</div>


			<button type="submit" class="btn btn-success">Send</button>
		</form>
		{% else %}
		<div id="sent">
			<span>Thank you for your message. Before your message will be displayed on our website, we want to check your message for spam or other inconsistencies.</span>
		</div>
		{% endif %}
